@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

@media only screen and (max-width: 768px) {
  .web-title {
    font-size: 3rem;
  }

  .updated {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) {
  .web-title {
    font-size: 4rem;
  }

  .updated {
    font-size: 1.4rem;
  }
}

.row .col {
  padding: 0!important;
}

.App {
  font-family: 'Raleway', sans-serif;
}

.web-title {
  margin: 2rem;
  color: #2c3e50;
}

.card-title {
  font-size: 1.8rem!important;
  font-weight: 500!important;
}

.confirmed {
  background-color: #586BA4;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  margin: 0 3.5rem 0 3.5rem;
  border-radius: 25px;  
  box-shadow: 0 8px 32px 0 rgba( 88, 107, 164, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
}

.state-count {
  font-size: 1.4rem;
  margin-top: 0.4rem;
  text-align: center;
  color: white;
  margin: 1.2rem;
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
}

.updated {
  text-align: center;
  background-color: #586BA4;
  color: white;
  padding: 1rem 0 1rem 0;
}